* {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
.parent {
  width: 700px;
  margin: 0 auto;
}
.heading {
  color: green;
}
.table-section {
  background-color: #a6dae8;
  text-align: center;
}

.table-section_head {
  font-size: 18px;
  font-weight: 400;
}
.table-section h2 {
  color: rgb(199, 107, 9);
}
.table-section table {
  width: 450px;
}

.table-section tbody tr {
  text-align: start;
}
